table{
	margin: auto;
	border-collapse: collapse;
}

table thead{
	font-weight: bold;
	background-color: #a6a6a6;
}

tr, th, td{
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid black;
}

div.controlsContainer{
	margin: auto; 
	padding-bottom: 80px;
	width: 100%;
}

div.paginationContainer{
	margin: auto;
	width: 100%;
}

ul.buttonContainer{
	list-style-type: none;
}

ul.buttonContainer li{
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}



div.formContainer{
	border: 1px solid #a6a6a6;
	border-radius: 30px;
	padding: 30px;
	width: 400px;
	margin: auto;
	text-align: center;
}

div.inputContainer{
	padding-top: 5px;
	padding-bottom: 5px;
}